body {
    border: 0;
    box-sizing: border-box;
    color: #002B45;
    font: inherit;
    font-size: 100%;
	line-height: 1;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

